services:

  ms-usuario:
    build: ./ms-usuario
    restart: always
    ports:
      - "9083:9083"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: db-usuarios
      SPRING_DATASOURCE_PORT: 27017
      SPRING_DATASOURCE_DATABASE: usuarios
      SPRING_DATASOURCE_USERNAME: usuarios
      SPRING_DATASOURCE_PASSWORD: admin
      USUARIO_PORT: 9083
    depends_on:
      db-usuarios:
        condition: service_healthy
    networks: [local-network]

  db-usuarios:
    image: mongo:6.0
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: usuarios
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: usuarios
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes: [ms-usuario-data:/data/db]
    networks: [local-network]

  ms-feedback:
    build: ./ms-feedback
    restart: always
    ports:
      - "9084:9084"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: db-feedback
      SPRING_DATASOURCE_PORT: 27017
      SPRING_DATASOURCE_DATABASE: feedback
      SPRING_DATASOURCE_USERNAME: feedback
      SPRING_DATASOURCE_PASSWORD: admin
      FEEDBACK_PORT: 9084
      JWT_SECRET: "Q2hhdEdQdHNhVmFsaWRhQmFzZTY0S2V5QWNjZXNzMTIzNDU2Nzg5MDEy"
    depends_on:
      db-feedback:
        condition: service_healthy
    networks: [local-network]

  db-feedback:
    image: mongo:6.0
    restart: always
    ports:
      - "27019:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: feedback
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: feedback
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes: [ms-feedback-data:/data/db]
    networks: [local-network]

  ms-login:
    build: ./ms-login
    restart: always
    ports:
      - "9082:9082"
    depends_on:
      ms-usuario:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: prod
      LOGIN_PORT: 9082
      USUARIO_HOST: http://ms-usuario:9083/ms-usuario/v1/
      JWT_ACCESS_TOKEN: "Q2hhdEdQdHNhVmFsaWRhQmFzZTY0S2V5QWNjZXNzMTIzNDU2Nzg5MDEy"
      JWT_REFRESH_TOKEN: "UmVmcmVzaFRva2VuU2VjdXJlQmFzZTY0S2V5VGVzdDEyMzQ1Njc4OTA="
    networks: [local-network]

volumes:
  ms-usuario-data:
  ms-feedback-data:

networks:
  local-network:
    driver: bridge