services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"   # porta de comunicação dos microsserviços
      - "15672:15672" # painel web
    networks:
      - local-network

  ms-usuario:
    build: ./ms-usuario
    container_name: ms-usuario
    restart: always
    ports:
      - 9092:9092
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://admin:admin@mongo-usuarios:27017/usuarios?authSource=admin
    depends_on:
      mongo-usuarios:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    networks:
      - local-network

  mongo-usuarios:
    image: mongo:6.0
    container_name: mongo-usuarios
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
      MONGO_INITDB_DATABASE: usuarios
    volumes:
      - ./data/mongo:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')", "-u", "admin", "-p", "admin", "--authenticationDatabase", "admin"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - local-network

volumes:
  ms-usuario-data:

networks:
  local-network:
    driver: bridge