services:

  ms-usuario:
    build: ./ms-usuario
    restart: always
    ports:
      - "9083:9083"
    environment:
      SPRING_PROFILES_ACTIVE: local
      SPRING_DATASOURCE_URL: jdbc:mysql://db-usuarios:3306/usuarios?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: usuarios
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.MySQL8Dialect
      JWT_SECRET: "Q2hhdEdQdHNhVmFsaWRhQmFzZTY0S2V5QWNjZXNzMTIzNDU2Nzg5MDEy"
      USUARIO_PORT: 9083
    depends_on:
      db-usuarios:
        condition: service_healthy
    networks: [local-network]

  db-usuarios:
    image: mysql:8.0
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: usuarios
      MYSQL_USER: usuarios
      MYSQL_PASSWORD: admin
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uusuarios", "-padmin"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ms-usuario-data:/var/lib/mysql
    networks: [local-network]

  ms-feedback:
    build: ./ms-feedback
    restart: always
    ports:
      - "9084:9084"
    environment:
      SPRING_PROFILES_ACTIVE: local
      SPRING_DATASOURCE_URL: jdbc:mysql://db-feedback:3306/feedback?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: feedback
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.MySQL8Dialect
      FEEDBACK_PORT: 9084
      JWT_SECRET: "Q2hhdEdQdHNhVmFsaWRhQmFzZTY0S2V5QWNjZXNzMTIzNDU2Nzg5MDEy"
    depends_on:
      db-feedback:
        condition: service_healthy
    networks: [local-network]

  db-feedback:
    image: mysql:8.0
    restart: always
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: feedback
      MYSQL_USER: feedback
      MYSQL_PASSWORD: admin
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-ufeedback", "-padmin"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ms-feedback-data:/var/lib/mysql
    networks: [local-network]

  ms-login:
    build: ./ms-login
    restart: always
    ports:
      - "9082:9082"
    depends_on:
      ms-usuario:
        condition: service_started
    environment:
      SPRING_PROFILES_ACTIVE: prod
      LOGIN_PORT: 9082
      USUARIO_HOST: http://ms-usuario:9083/ms-usuario/v1/
      JWT_ACCESS_TOKEN: "Q2hhdEdQdHNhVmFsaWRhQmFzZTY0S2V5QWNjZXNzMTIzNDU2Nzg5MDEy"
      JWT_REFRESH_TOKEN: "UmVmcmVzaFRva2VuU2VjdXJlQmFzZTY0S2V5VGVzdDEyMzQ1Njc4OTA="
    networks: [local-network]

volumes:
  ms-usuario-data:
  ms-feedback-data:

networks:
  local-network:
    driver: bridge
